.what-we-do
	@extend %full-width-block-with-image
	&_info
		@extend %full-width-block-with-image_info
		float: right
		margin-right: $block-padding
		&-header
			@extend %info-header
		&-button
			@extend .button
		&-text
			margin-bottom: 25px
	&_image
		@extend %full-width-block-with-image_image
		float: left
