section.what-we-do#what_we_do
	.what-we-do_image
		+insert-image(what_we_do.image, what_we_do.header)
	.what-we-do_info
		h2.what-we-do_info-header=what_we_do.header
		p.what-we-do_info-text=what_we_do.text
		a.what-we-do_info-button(href="#")=what_we_do.button_text