section.what-we-do#what_we_do
	.what-we-do_image
		//- +insert-image(what_we_do.image, what_we_do.header)
	.what-we-do_text
		h2=what_we_do.header
		p=what_we_do.text
		a.button(href="#")=what_we_do.button_text