section.who-we-are#who_we_are
	.who-we-are_image
		+insert-image(who_we_are.image, who_we_are.header)
	.who-we-are_info
		h2.who-we-are_info-header=who_we_are.header
		p.who-we-are_info-text=who_we_are.text
		a.who-we-are_info-button(href="#")=who_we_are.button_text