header
	@extend %side-padding-block
	position: fixed
	top: 0
	left: 0
	z-index: 10
	padding-top: 18px
	width: 100%
	height: $default-header-height
	line-height: $default-header-height
	transition: all .4s ease
	+max-screen($mobile)
		height: $mobile-header-height
		line-height: $mobile-header-height
	+landscape-max-screen($mobile)
		height: $mobile-landscape-header-height
		line-height: $mobile-landscape-header-height
	.is-scroll &
		padding-top: 0
		background-color: $white
		box-shadow: 0 1px 2px $gray
	+max-screen($tablet)
		padding-top: 0
		background-color: $white
	.logo
		font-family: megrim, futura, Arial, sans-serif
		font-size: 24px
		text-decoration: none
		cursor: pointer
		color: $white
		line-height: 1
		text-transform: uppercase
		+max-screen($mobile)
			font-size: 20px
		.is-scroll &
			color: $black
		+max-screen($tablet)
			color: $black
