.projects
	padding: 5.4% 0
	&_header
		text-align: center
		line-height: 1
		margin-bottom: 28px
		color: $black
		margin: 0 auto
		padding: 0 30%
		margin-bottom: 25px
		+max-screen($tablet)
			padding: 0 5%
	&_title
		color: $black
		text-align: center
		display: block
		padding: 0 38%
		margin: 0 auto
		margin-bottom: 40px
		+max-screen($tablet)
			padding: 0 5%
	&_slider
		position: relative
		overflow: hidden
		padding-top: 3%
		padding-bottom: 7%
		+max-screen($tablet)
			padding-bottom: 15%
		+max-screen($mobile)
			padding-bottom: 20%
		.owl-stage-outer
			z-index: 2
			position: relative
		&-nav
			.owl-prev,
			.owl-next
				position: absolute
				top: 0
				z-index: 1
				cursor: pointer
				width: 70px
				height: 10px
				+max-screen($tablet)
					display: none
				&:before,
				&:after
					content: ''
					position: absolute
					transition: all .4s ease
				&:before
					top: 4px
					left: 0
					width: 100%
					height: 0
					border-top: 2px solid $aluminium
				&:hover:before
					border-color: $nero-gray
			.owl-prev
				left: $block-padding
				&:after
					+arr(8, 8, $aluminium, l)
					top: 1px
					right: 100%
				&:hover:after
					+arr(8, 8, $nero-gray, l)
			.owl-next
				right: $block-padding
				&:after
					+arr(8, 8, $aluminium, r)
					top: 1px
					left: 100%
				&:hover:after
					+arr(8, 8, $nero-gray, r)
		&-item
			padding-top: 71.5%
			position: relative
			&-inner
				position: absolute
				transition: all .4s ease
				top: 0
				left: 0
				width: 100%
				height: 100%
				+max-screen($tablet)
					height: 120%
					margin-top: -8%
			&:hover &-inner
				height: 120%
				margin-top: -8%

			&-images
				overflow: hidden
				position: absolute
				z-index: 2
				left: 0
				top: 0
				height: 100%
				width: 100%
				img
					transition: all .4s ease
					margin-top: -8%
					max-width: 112%
					// height: 100%
					// max-height: 100%
					+max-screen($tablet)
						margin-top: 0
			&:hover img
				margin-top: 0

			&-info
				position: absolute
				transition: all .5s ease
				z-index: 1
				bottom: 0
				left: 0
				overflow: hidden
				height: 22.5%
				background-color: $white
				width: 100%
				+max-screen($tablet)
					bottom: -22.5%
			&:hover &-info
				bottom: -22.5%
			&-name
			&-type
