section.projects#projects
	h2.projects_header=projects.header
	p.projects_title=projects.title
	.projects_slider
		- for (var i = 0; i < 12; ++i)
			+project-item(i)

mixin project-item(index)
	.projects_slider-item
		.projects_slider-item-inner
			.projects_slider-item-images
				- for (var j = 0; j < 4; ++j)
					a(href="#")
						+insert-image('project' + (1 + (index + j)%4) + '.jpg' , projects.slider.name[(index + j)%4])
			a(href="#").projects_slider-item-info
				h3.projects_slider-item-name=projects.slider.name[(index + j)%4]
				p.projects_slider-item-type=projects.slider.type
