extends ./layout/default_layout.jade

block title_name
	title=title
	meta(property="og:locale" content="en_GB")
	meta(property="og:type" content="website")
	meta(property="og:title" content=header.logo)
	meta(property="og:description" content=who_we_are.text)
	meta(property="og:site_name" content=header.logo)
	meta(property="og:image" content="/img/"+who_we_are.image)

block main_content
	include ./../elements/header/header
	include ./../elements/preloader/preloader
	include ./../elements/menu/menu
	include ./../elements/banner/banner
	include ./../elements/projects/projects
	include ./../elements/who_we_are/who_we_are
	include ./../elements/what_we_do/what_we_do
	include ./../elements/info/info
	include ./../elements/contacts/contacts
	include ./../elements/footer/footer


