.button
	display: inline-block
	background-color: transparent
	cursor: pointer
	border: 1px solid $venetian-red
	text-align: center
	font-weight: 700
	font-size: 12px
	height: 59px
	line-height: 15px
	padding: 22px 88px
	font-size: 12px
	text-transform: uppercase
	color: $venetian-red
	.icon
		font-size: 14px
		display: inline-block
		vertical-align: middle
	&:hover
		background-color: $venetian-red
		color: $white
.button_send
	@extend .button
	color: $white
	border-color: $white
		.icon
			margin-right: 14px
	&:hover
		background-color: $white
		color: $venetian-red
