.feedbacks
	@extend %col-6
	+max-screen($tablet)
		margin-bottom: $block-padding
	+max-screen($mobile)
		margin-bottom: $block-padding*2
	&_slider
		+max-screen($tablet)
			&-wrap
				@extend %tablet-full-width-padding-block-inner
			&:before,
			&:after
				content: ""
				height: 100%
				position: absolute
				top: 0
				width: 12%
				z-index: 2
			&:before
				left: -1%
				background-image: linear-gradient(to right, $solitude, transparent)
			&:after
				right: -1%
				background-image: linear-gradient(to right, transparent, $solitude)
	&_item
		background-color: $white
		margin-top: $feedbacks-image-size/2
		padding: 0 30px 55px
		+min-screen($hdpi)
			margin-top: $hdpi-feedbacks-image-size/2
		+max-screen($mobile)
			padding: 0 20px 35px
		&-image
			overflow: hidden
			width: $feedbacks-image-size
			height: $feedbacks-image-size
			margin: -$feedbacks-image-size/2 auto 14px
			border: 7px solid $solitude
			border-radius: 50%
			+min-screen($hdpi)
				width: $hdpi-feedbacks-image-size
				height: $hdpi-feedbacks-image-size
				margin: -$hdpi-feedbacks-image-size/2 auto 1vw
			img
				width: 100%
		&-person
			text-align: center
			padding: 0 20px
			&:after
				content: "‘‘"
				display: block
				font-size: 36px
				font-weight: 900
				color: $nero-gray
				line-height: 1
			&-name
				color: $black
			&-name,
			&-who,
				@extend %paragraph
		&-text
			@extend %paragraph


	.owl-nav
		position: absolute
		right: 18px
		white-space: nowrap
		top: $feedbacks-image-size/2 +10px
		+min-screen($hdpi)
			right: 1vw
			top: $hdpi-feedbacks-image-size/2 + .7vw
		+max-screen($tablet)
			display: none
	.owl-prev,
	.owl-next
		@extend .icon
		cursor: pointer
		display: inline-block
		position: relative
		color: $venetian-red
		font-size: 20px
		padding: 10px
		text-align: center
		transition: all .4s ease
		+min-screen($hdpi)
			font-size: 1.4vw
		&:hover
			background-color: $venetian-red
			color: $white
		&.disabled
			opacity: .7
			color: $gray
			cursor: default
			&:hover
				background-color: $white
				color: $gray
	.owl-prev
		@extend .icon-left-arrow
	.owl-next
		@extend .icon-right-arrow