section.progects#progects
	h2.progects_header=progects.header
	p.progects_title=progects.title
	.progects_slider
		- for (var i = 0; i < 12; ++i)
			.progects_slider-item
				.progects_slider-item-images
					- for (var j = 0; j < 4; ++j)
						if 1+i+j < 5
							+insert-image('progect' + (i+j) + '.jpg' , progects.slider.name[i%4])
						else
							+insert-image('progect' + (i+j)%4 + '.jpg' , progects.slider.name[i%4])
				.progects_slider-item-info
					h3.progects_slider-item-name=progects.slider.name[i%4]
					p.progects_slider-item-type=progects.slider.type
